@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.menu{
    background-color: #44085c;
    color: white;
    padding: 10px 20px;
    width: 160px;
    font-weight: bold;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: -100%;
}
.menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}
.menu a:hover{
    background-color: white;
    color: #44085c;
}
.main{
    margin-left: 360px;
    margin-top: 80px;
    margin-right: 40px;
}
.main h1{
    font-weight: 400;
    font-size: 64px;
}
h2{
    color: #44085c;
    font-size: 32px;
    font-weight: 800; 
    margin: 10px 0;
}
hr{
    padding: 5px;
    background-color: #44085c;
    border-radius: 10px;
    margin: 20px 0;
}
#showcase img{
    border-radius: 10px;
    width: 40%;
    margin: 5px;
    opacity: 0.7;
}
#show img:hover{
    opacity: 1;
}
.member{
    width: 30%;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
}
.pos{
    opacity: 0.5;
}
.member img{
    width: 100%;
    border-radius: 10px;
    filter: grayscale(0.5);
}
.description{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}
.tariff{
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    text-align: center;
}
.tariffs ul{
    background-color: #f1f1f1;
    color: black;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.tariffs li{
    list-style: none;
    border-bottom: 1px solid #dddddd;
    padding: 16px 0;
}
.tariff-name{
    background-color: #44085c;
    color: white;
    border-radius: 10px;
}
.pro .tariff-name{
    color: white;
    background-color: #f1453d;
    border-radius: 10px;
}
.price{
    font-size: 30px;
}
.period{
    opacity: 0.8;
}
.tariff button{
    color: white;
    background-color: #44085c;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
}
.pro button{
    background-color: #f1453d;
}
.tariff button:hover{
    background-color: white;
    color: #44085c;
    border: 1px solid #44085c;
}
.pro button:hover{
    border: 1px solid #f1453d;
    color: #f1453d;
}
.form label{
    display: block;
}
.form input{
    width: 100%;
    padding: 10px;
}
.form Button{
    width: 102.6%;
    color: white;
    border-radius: 10px;
    border: 1px solid #44085c;
    padding: 10px;
    background-color: #44085c;
}
.pof{
    background-color: #f1f1f1;
    width: 100%;
    padding: 55px 4px;
    margin: 80px 0;
    margin-bottom: -8px;
}
.pof p{
    text-align: right;
}
.pof a{
    color: #141414;
}
/* 
 1. css contact
 2. /

*/